<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style/reset.css">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/style/base.css">
        <link rel="stylesheet" href="/style/incons.css">
        <link rel="stylesheet" href="/style/layout.css">
        <link rel="stylesheet" href="/style/modules.css">
        <title>details</title>
</head>
<body>
  <%- include('../../layout/header')%>
    <main>
        <section>
            <ol>
               
                <li>
                    <p class="img"> <img src="<%= booknew2.image_url%>" ></p>
                    <p class="title">Book Title: <%= booknew2.title %></p>
                    <p class="authors"><%= booknew2.authors%></p>
                    <p class="description"><%= booknew2.description%></p>
                    <p class="num"><%= booknew2.isbn%></p>
                   <p>bookshelf: <%= booknew2.bookshelf%></p>
                   <form action="/delete/<%= booknew2.id%>" method="POST">
                    <button class="hidden"> DELETE</button>
                    </form>
                    <form action="/update/<%= booknew2.id%>" method="POST" class="update">
                      <input type="text" name="title" value="<%= booknew2.title %>">
                      <input type="text" name="authors" value="<%= booknew2.authors %>">
                      <input type="text" name="isbn" value="<%= booknew2.isbn%>">
                      <input type="text" name="image_url" value="<%=  booknew2.image_url %>">
                      <input type="text" name="description" value="<%= booknew2.description %>">
                      <button class="updatebtn">Update</button>
                    </form>
                </li>
               
            </ol>
        </section>
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.js">
    </script>
    <script type="text/javascript">
    $(document).ready(function(){
  
  $('.menu').click(function(){
    $('ul').toggleClass('active')
  })
  }); 
    </script>
</body>
</html>