<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/reset.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style/base.css">
    <link rel="stylesheet" href="/style/incons.css">
    <link rel="stylesheet" href="/style/layout.css">
    <link rel="stylesheet" href="/style/modules.css">
    <title>index</title>
</head>
<body>
  <%- include('../layout/header')%>
    <main>
        <section>
            <ol>
            <%booksnew.forEach(book =>{%>
                <li>
               <p class="img"> <img src="<%= book.image_url%>" ></p>
               <p class="title">Book Title: <%= book.title %></p>
               <p class="authors"><%= book.authors%></p>
               <p class="description"><%= book.description%></p>
               <p class="num"><%= book.isbn%></p>
              <p class="bookshelf">bookshelf: <%= book.bookshelf%></p>
              <button class="hidden"><a class="booknum hidden " href="detail/<%=book.id%>">more details</a></button>
              <!-- <button>more details</button> -->
            </li>
            <% }) %>
        </ol>
          </section>
    </main>
    <script src="https://code.jquery.com/jquery-3.4.1.js">
    </script>
    <script type="text/javascript">
    $(document).ready(function(){
  
  $('.menu').click(function(){
    $('ul').toggleClass('active')
  })
  }); 
    </script>
</body>
</html>